/********************** general settings *******************/

:root {
    --labelwith: 130px;
    --inputwidth: calc(99% - var(--labelwith));
}

body{
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 65%;
	/*font-size: 62.5%;*/
	background-color: #F7F7F7;
}

/* left side labels */
p label:first-child {
    /*background-color: red;*/
    display: inline-block;
    width: var(--labelwith); /*130px;*/
    text-align: left;
}

/* fileref table */
.xml_fileref_table {
    width:100%;
    /*background-color: yellow;*/
}

.xml_fileref_table td:first-child {
    /*background-color: blue;*/
    width: var(--labelwith);
}
.xml_fileref_table td {
    /*background-color: green;*/
    width: 1px;
} /* min width, actually: this causes the width to fit the content */
.xml_fileref_table td:last-child { width: var(--inputwidth); }

.fileref_viewer {
    width: var(--inputwidth);
    float:right;
}


/* right side */
textarea{
    display: inline-block;
	vertical-align: top; /* middle; */
    width: var(--inputwidth);
    resize: vertical; /* user can resize vertically, but width is fixed */
}


.CodeMirror{
    border: 1px solid;
}

#xml_description + .CodeMirror{
    vertical-align: top;
    display: inline-block;
    width: var(--inputwidth);
    resize: vertical; /* user can resize vertically, but width is fixed */
}

#preview {
    display: inline-block;
    width: var(--inputwidth);
    border: 1px solid;
    background-color: #F7F7F7;
    resize: vertical; /* user can resize vertically, but width is fixed */
}


.maxinput{
    vertical-align: middle;
    width: var(--inputwidth);
}
.largeinput{
	vertical-align: middle;
	width: 80%;
}
.mediuminput{	width: 40%;     }
.shortinput{	width: 10%;     }
.tinyinput{		width: 5%;     }

.rightButton{	float:right   }
.clear{  	clear:both;   }
.red{   	color: red;   }
.ui-widget .ui-widget{ 	        margin-top: 0.5em;   }
.ui-widget-content:first-child{ padding-left: 0.2em; }
.ui-widget-header{ 	        padding-left: 0.5em; }
p{ 	                        padding-left:0.3em;  }
/* .full-height{   height: 100%; } */

.pagecontainer{
	margin-left: auto;
	margin-right: auto;
	/*max-width: 960px;*/
}

.drop_zone {
    /*background: red;*/
}

.drop_zone_text {
    float:right; 	font-size: 65%;
}



.fileref_filename{	width: 400px;     }
.fileref_fileref{	width: 50px;     }


table, th, td {
/*    border: 1px solid black;
    border-collapse: collapse;*/
	font-size: 100%;    
}

/********************** left panel *******************/
#tabs{
	float:left;
	width:79%;
}

/********************** right panel *******************/
#rightPanel{
    position:fixed;
    right:0px;
	float:right;
	width:20%;
}
#rightPanel .ui-widget-header{
	height: 52px;
	margin: 0.26em;
}
#rightPanel .ui-widget-content{
	margin: 0.26em;
	margin-top: 0.7em;
}
#rightPanel h2{
	text-align: center;
}
#rightPanelButtonList{
	background: #FFF;
}
#form-remarks{
	margin-top: 2em;
}

#reload_editor {
    background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 100%;
    
     text-decoration:underline;
     cursor:pointer;
}

#codeversion {
	font-size: 110%;
    text-align: center;
}
/********************** bottom panel *******************/
#error-message{
/*	display: inline-block; */
	visibility: hidden;
    resize: vertical; /* user can resize vertically, but width is fixed */    
}

#error-message {
  border-radius: 5px;
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  width:98%;
  z-index: 10; /* higher than any z-index for codemirror */
  border-color: darkred;
  max-height:100px  
}

#empty {
	background-color: #F7F7F7;    
}


#button-list{
	margin:0.5em 0.6em;
/*        text-align: center;*/
}
#exportXMLFile, #exportProblemXML{
	margin-top:1em;
}

#buttonExport{
        background-color: #BFF9CA;
} 

#buttonImport{
        background-color: #BFF9CA;
} 

#upload_xml_file {
    display:none;
}

/********************** manual and FAQ *******************/

/*

li#manual.ui-state-default, li#manual.ui-widget-content .ui-state-default{
	border: 1px solid #bbb;
	background-color: #FFF9CA;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#FFF9CA));
	background-image: -webkit-linear-gradient(top, #ffffff, #FFF9CA);
	background-image: -moz-linear-gradient(top, #ffffff, #FFF9CA);
	background-image: -ms-linear-gradient(top, #ffffff, #FFF9CA);
	background-image: -o-linear-gradient(top, #ffffff, #FFF9CA);
	background-image: linear-gradient(to bottom, #ffffff, #FFF9CA);
	color: #555;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
}
li#manual{
	float: right;
	background-color: #FFF9CA;
}
li#FAQ.ui-state-default, li#manual.ui-widget-content .ui-state-default{
	border: 1px solid #bbb;
	background-color: #FFF9CA;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#FFF9CA));
	background-image: -webkit-linear-gradient(top, #ffffff, #FFF9CA);
	background-image: -moz-linear-gradient(top, #ffffff, #FFF9CA);
	background-image: -ms-linear-gradient(top, #ffffff, #FFF9CA);
	background-image: -o-linear-gradient(top, #ffffff, #FFF9CA);
	background-image: linear-gradient(to bottom, #ffffff, #FFF9CA);
	color: #555;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
}
li#FAQ{
	float: right;
	background-color: #FFF9CA;
}
*/
/********************** HTML5 upload and download elements *******************/


input[type=file]{ 
    width: 220px;
}

